html {
  font-family: Monteserrat-bold, Helevtiva, sans-serif;
  background-color: powderblue;
  text-align: center;
}

#main{
  margin: 100px, auto;
  padding: 20px;
}

img{
  padding-top: 50px;
  padding-bottom: 50px;
  max-width:250%;
  display: block;
  height: auto;
  margin: auto;  
}

ul{
  max-width:550px;
  margin:0 auto;
  text-align:left;
}
