html {
  font-family: Monteserrat-bold, Helevtiva, sans-serif;
/*   background-color: #dddddd; */
}

body { 
/*     margin: 8px; */
    background-color: lightblue;
/*     color: black; */
/*     height: 100%;
    width: 100%; */
    display: block;
    text-align: center;
}

#main{
  margin: 100px, auto;
  padding: 20px;
}

img {
  padding-top: 100px;
  padding-bottom: 100px;
  max-width:250%;
  display: block;
  height: auto;
  margin: auto;  
  align: right;
}

ul{
  max-width:550px;
  margin:0 auto;
  text-align:center;
} 
